/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset */
* {
    margin: 0px;
    font-family: 'Lora', sans-serif;
    color: #fff;
    font-size: 16px;
}

/* Typograph */
.text-center {
    text-align: center;
}

/* Grid */
.full-height {
    min-height: 100vh;
}

.m {
    width: 100%;
}

.row {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}

.half {
    width: 50%;
}

.flexible-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,.45);
    z-index: 2;
}

/* Background */
.bg-red {
    background: darkred;
}

.bg-blue {
    background: #263248;
}

.bg-dark {
    background: grey;
}

/* Items */
.nav-down {
   position: absolute;
   bottom: 0;
   padding-bottom: 30px;
}

.img-responsive {
    max-width: 100%;
}

.img-frame {
    border: 5px solid #fff;
    box-shadow: 5px 5px 4px #3a4d6f;
}
