$main: #2c3e50;

.input {
    background: #fff;
    border: 2px solid $main;
    padding: 10px;
    font-size: 1.25em;
    width: 100%;
    color: $main;

    option {
        color: $main;
    }
}

.form-group {
    padding: 10px 20px 5px 0px;

    label {
        @extend .m;
    }
}
