@media (max-width: 1024px) {
    .m-intro {
        font-size: 1.4em;
    }

    .half {
        width:100%;
    }

    .nav {
        transform: scale(0.8);

        li {
            margin: 0px 2px 10px 0px;
        }
    }

}

