.modal {
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;

    color: #333;
    background: #fff;
    border: 1px solid #777;
    z-index: 10;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;

    .modal-close {
        font-size: 0.8em;
        padding-top: 10px;

    }

    #legend {
        margin:5px;
        z-index: 11;
        color: #222 !important;
    }
}

.modal-hide {
    opacity: 0;
}



@media (max-width: 468px) {
    .modal {
        padding: 10px;
        min-width: 100vw;
    }
}
