.modal {
    color: #333;
    background: #fff;
    border: 1px solid #dadada;
    z-index: 10;
    padding: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .modal-close {
        font-size: 1em;
        padding-top: 10px;
    }
    #legend {
        margin:5px;
        z-index: 11;
        color: #222 !important;
    }
}

.modal-hide {
    transition: width 2s;
    display: none;
}



@media (max-width: 468px) {
    .modal {
        padding: 10px;
        min-width: 100vw;
    }
}
